
@font-face {
  font-family: 'Overpass';
  font-weight: bold;
  src: local('Overpass-Bold'),
  url('../fonts/Overpass/Overpass-Bold.ttf');
}

@font-face {
  font-family: 'Overpass';
  font-weight: 300;
  src: local('Overpass-Light'),
  url('../fonts/Overpass/Overpass-Light.ttf');
}

@font-face {
  font-family: 'Overpass';
  font-weight: 400;
  src: local('Overpass-Regular'),
  url('../fonts/Overpass/Overpass-Regular.ttf');
}

@font-face {
  font-family: 'Overpass';
  font-weight: 900;
  src: local('Overpass-Black'),
  url('../fonts/Overpass/Overpass-Black.ttf');
}