@import "vars";
@import "libs";
@import "fonts";

* {
  box-sizing: border-box;
}

.bold {
  font-family: Overpass;
  font-weight: bold;
}

.mt-40 {
  margin-top: 40px;
}

.w100 {
  width: 100%;
}


.black-text {
  color: #000000 !important;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.fl-align-center {
  align-items: center;
}

.fl-align-bottom {
  align-items: flex-end;
}

.fl-justify-center {
  justify-content: center;
}

.fl-justify-between {
  justify-content: space-between;
}

.fl-justify-around {
  justify-content: space-around;
}

.logo {
  font-family: Overpass;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.2px;
  text-align: center;
  color: #76757a;
  border: solid 4px #f8f9fc;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  margin: 138px auto 94px auto;


  .small-text {
    font-weight: bold;
  }
}

//======================== LOGIN PAGE ============================

.login-pattern {
  background: #ffffff;

  &__container {
    width: 400px;
    margin: 0 auto;
  }

  &__title {
    font-family: Overpass;
    font-size: 36px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    margin-bottom: 64px;
    margin-top: 0;
  }


}

.form {
  display: flex;
  flex-direction: column;

  &-label {
    font-family: Overpass;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    text-align: left;
    color: #b1b1b9;
    margin-bottom: 3px;
  }

  &-input {
    font-family: Overpass;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    border: none;
    border-bottom: 3px solid #f8f9fc;
    padding-bottom: 23px;
    padding-top: 0;
    margin-bottom: 63px;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      /* display: none; <- Crashes Chrome on hover */
      -webkit-appearance: none;
      margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }

    &:focus,
    &:active {
      outline: none;
    }
  }



  &-button {
    padding: 24px 0;
    font-family: Overpass;
    font-size: 24px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 22px;
    letter-spacing: 1.2px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    background: #ffffff;
    border: 2px solid #000;
    cursor: pointer;

    &:focus,
    &:active {
      background: #000000;
      color: #ffffff;
    }
  }

  &-small_text {
    font-family: Overpass;
    font-size: 20px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    text-align: left;
    color: #76757a;
    margin-top: 63px;
  }
}

.add-method {
  width: 700px !important;

  #add-method-single {
    width: 100% !important;
  }
}

//======================== LEFT SIDEBAR ============================

.layout-company {
  display: flex;

}


.sidebar-left {
  width: 190px;
  height: 100vh;
  padding: 45px 0;
  background-color: #f5f7fa;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__header {
    &-logo {
      font-family: Overpass;
      font-size: 24px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 1.2px;
      text-align: center;
      color: #76757a;
      display: block;
      margin: 0;
      text-decoration: none;

      &:hover {
        text-decoration: none;
        color: #76757a;
      }
    }

    &-logo_company {
      width: 95px;
      height: 95px;
      border-radius: 50%;
      display: block;
      margin: 0 auto;
      margin-top: 45px;
    }
  }

  &__footer {
    &-link {
      font-family: Overpass;
      font-size: 22px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 1.2px;
      text-align: center;
      color: #76757a;
      display: block;
      margin: 0 auto;
      text-decoration: none;

      &:hover {
        text-decoration: none;
        color: #76757a;
      }
    }
  }
}

//======================== CHOOSE COMPANY ============================

.choose-company {
  position: relative;

  &__container {
    padding: 75px 96px;
    background: #ffffff;
  }

  &__row {
    width: 900px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 22px;
  }

  &__title {
    font-family: Overpass;
    font-size: 37.5px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    margin-bottom: 68px;
    margin-top: 0;
  }

  &__img-logo {
    width: 95px;
    height: 95px;
    border-radius: 50%;
    margin-right: 20px;
  }

  &__name-label {
    font-family: Overpass;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    text-align: left;
    color: #b1b1b9;
    margin: 0;
  }

  &__name-title {
    font-family: Overpass;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    margin: 0;
  }

  &__link {
    position: absolute;
    right: 0;

    img {
      width: 12px;
      height: 21px;
    }
  }
}


//======================== LK USER ============================

.layout-lk {
  display: flex;


  //.sidebar-left {
  //  height: auto;
  //}
}


.lk {
  padding: 70px;
  padding-bottom: 0;
  margin: 0 auto;
  width: 100%;


  &__title {
    font-family: Overpass;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    margin-top: 70px;
    margin-bottom: 50px;
  }


  .check-block {
    width: 54%;
    //margin-top: 37px;
    position: relative;
    margin-right: 60px;

    &__overlay {
      width: 100%;

      border-bottom: 3px solid #f8f9fc;
      align-items: flex-start;
    }

    &__text {
      font-family: Overpass;
      font-size: 20px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #000000;
      margin-bottom: 20px;

      span {
        font-weight: 300;
        color: #b1b1b9;
      }
    }

    &__arrow-up {
      cursor: pointer;
      position: relative;
      top: 5px;
    }

    .active-list {
      display: block;
    }

    &__list {
      position: absolute;
      top: 47px;
      width: 100%;
      background: #fff;
      display: none;
      border: solid 3px #f8f9fc;
      padding: 46px 50px;

      &-text {
        font-family: Overpass;
        font-size: 20px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 1px;
        text-align: left;
        color: #000000;
        text-transform: uppercase;
        text-decoration: underline;
      }

      &-check {
        margin-right: 15px;
        position: absolute;
        z-index: -1;
        opacity: 0;

        &:checked + label::before {
          border-color: #0b76ef;
          background-color: #0b76ef;
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
        }

        &:checked + .check-block__list-name {
          color: #000;
        }

        &:not(:checked) + label::before {
          border-color: #b1b1b9;
        }
      }

      &-name {
        font-family: Overpass;
        font-size: 20px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        //letter-spacing: 1px;
        text-align: left;
        color: #b1b1b9;
        margin-bottom: 0;
      }

      .title {

        &::before {
          content: '';
          display: inline-block;
          width: 1em;
          height: 1em;
          flex-shrink: 0;
          flex-grow: 0;
          border: 1px solid #b1b1b9;
          border-radius: 0.25em;
          margin-right: 0.5em;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 50% 50%;
          position: relative;
          top: 3px;
        }
      }
    }
  }
}

.resource {
  margin-right: 57px;

  &__name-title {
    font-family: Overpass;
    font-size: 72px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.8px;
    text-align: left;
    color: #000000;
    margin-bottom: -18px;
    display: flex;
    align-items: baseline;

  }

  &__light-text {
    padding-right: 10px;
  }

  &__small-text {
    font-size: 48px;
    font-weight: normal;
    letter-spacing: 1.2px;
  }

  &__name-label {
    font-family: Overpass;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.2px;
    text-align: left;
    color: #b1b1b9;
  }

  .icon-coin {
    width: 23px;
    height: 33px;

  }

}


.button {
  font-family: Overpass;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.2px;
  text-align: center;
  color: #000000;
  padding: 16px 53px;
  background-color: #fff;
  text-transform: uppercase;
  border: #000000 solid 2px;
  margin-right: 30px;
}

.inactive {
  border: #b1b1b9 solid 2px;
  color: #b1b1b9;
}

.nav {
  border-bottom: 3px solid #f8f9fc;
}

.nav-pills .nav-link {
  font-family: Overpass;
  font-size: 20px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1px;
  text-align: left;
  color: #b1b1b9;
  padding-bottom: 15px;
}

.nav-tabs .nav-link {
  margin-bottom: 2rem;
}

#team-tabs {
  border: none;
}

.company_lk {
  //height: 100vh;
  //overflow-y: scroll;
  //-ms-overflow-style: none;
  //
  //&::-webkit-scrollbar { width: 0 !important }

  .resource {
    margin-bottom: 30px;
  }
}

.lk {

  #team-content {

    .checkbox {
      position: absolute;
      z-index: -1;
      opacity: 0;
    }

    .checkbox + label {
      display: inline-flex;
      align-items: center;
      user-select: none;
      cursor: pointer;
    }

    .checkbox + label::before {
      content: '';
      display: inline-block;
      position: relative;
      top: -2px;
      width: 1em;
      height: 1em;
      flex-shrink: 0;
      flex-grow: 0;
      border: 1px solid #adb5bd;
      border-radius: 0.25em;
      margin-right: 0.5em;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
    }

    .checkbox:checked + label::before {
      border-color: #000;
      background-color: #fff;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23000' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
    }

    .table {
      thead {
        border-bottom: 3px solid #f8f9fc;
        padding-bottom: 10px;


        tr {
          span {
            font-size: 30px;
            letter-spacing: 1.5px;
            color: #76757a;
          }
        }

        .checkbox-title {
          font-family: Overpass;
          font-size: 30px;
          font-weight: bold;
          letter-spacing: 0.75px;
          color: #000000;
          border: none;

          &:focus {
            outline: none;
          }
        }
      }

      th, td {
        border-top: none;
      }



      th {
        font-family: Overpass;
        font-size: 20px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 1px;
        text-align: left;
        color: #b4b4bb;
        padding-bottom: 26px;

        &:nth-child(1) {
          width: 140px;
          font-size: 20px;
          letter-spacing: 1px;
          color: #000000;
          text-transform: uppercase;
        }

        &:nth-child(2) {
          width: 227px;
        }

        &:nth-child(3) {
          width: 260px;
        }

        &:nth-child(4) {
          width: 400px;
        }

        &:last-child {
          font-size: 20px;
          letter-spacing: 1px;
          color: #000000;
          text-transform: uppercase;
        }
      }


      tbody {

        tr {

          td {
            font-family: Overpass;
            font-size: 20px;
            font-weight: 400;
            font-stretch: normal;
            font-style: normal;
            line-height: 10px;
            letter-spacing: 1px;
            text-align: left;
            //color: #000000;
            color: #76757a;
            vertical-align: middle;
            position: relative;

            &:nth-child(1) {
              button {
                font-family: Overpass;
                font-size: 20px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 13px;
                letter-spacing: 1px;
                text-align: center;
                color: #76757a;
                border: solid 2px #b1b1b9;
                padding: 13px 45px;
                text-transform: uppercase;
                background: #ffffff;
              }
            }

            label {
              margin-bottom: 0;
            }

            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
              /* display: none; <- Crashes Chrome on hover */
              -webkit-appearance: none;
              margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
            }

            .input-payment {
              font-family: Overpass;
              font-size: 30px;
              font-weight: bold;
              font-stretch: normal;
              font-style: normal;
              line-height: normal;
              letter-spacing: 0.75px;
              max-width: 200px;
              text-align: left;
              color: #000000;
              border: none;
              border-bottom: 3px solid #f8f9fc;

              &:before {
                content: '';
                width: 20px;
                height: 20px;
                display: block;
                background: #000000;
              }

              &:active,
              &:focus {

                outline: none;
              }
            }
          }

          &:nth-child(1) td {
            padding-top: 30px;
          }
        }

        .button {
          padding: 0;
          width: 138px;
          height: 40px;
          line-height: 38px;
        }
      }
    }

    .team_row-bottom {
      .button {
        height: 40px;
        padding: 5px 53px;
      }
    }
  }

}


.lk .nav-pills .nav-link:hover {
  border: none;
}

.lk .nav-pills .nav-link.active {
  font-family: Overpass;
  font-size: 20px;
  font-weight: 900;
  color: #000000;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #000;
}


.tab-content {
  height: 650px;
  max-height: 650px;
  overflow-y: scroll;
  -ms-overflow-style: none;


  &::-webkit-scrollbar {
    width: 0 !important
  }


  &__payday {
    padding-right: 16px;
  }

  &__row {
    margin-bottom: 10px;
  }

  &_left {
    width: 65%;
  }

  &_right {
    width: 35%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;

    .small-money {
      font-size: 20px;
    }
  }

  .arrow-up {
    position: absolute;
    top: 12px;
    right: -17px;
    cursor: pointer;
  }

  &_accordion {
    display: flex;
    margin-bottom: 26px;

    &__item {
      margin-top: 26px;

      .tab-content__method {
        margin-left: 394px;

      }
    }
  }

  &_accordion-active {
    display: flex;
  }



  &__date-name {
    font-family: Overpass;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1px;
    text-align: left;
    color: #b1b1b9;
    display: block;
    margin-top: 35px;
    margin-bottom: 30px;
  }

  &__date-title {
    font-family: Overpass;
    font-size: 20px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1px;
    text-align: left;
    color: #000000;
    margin-right: 150px;
  }

  .icon-info{
    cursor: pointer;
    &__object {
      width: 26px;
      height: 26px;
      position: absolute;
      //margin-left:52px;
      left: -32px;
      top:3px;

      svg,img {
        cursor: pointer;
      }
    }
  }
  
  .icon-check {
    cursor: pointer;
  }

  .icon-cancel {
    cursor: pointer;
    position: absolute;
    img {
      width: 14px;

    }
    right: -17px;
    top: -3px;
  }

  &__method {
    font-family: Overpass;
    font-size: 20px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1px;
    text-align: left;
    color: #b1b1b9;
    position: relative;
  }

  &__status {
    font-family: Overpass;
    font-size: 20px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1px;
    text-align: left;
    color: #b1b1b9;
    margin-right: 150px;
    text-transform: uppercase;
  }

  &__money {
    font-family: Overpass;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.75px;
    text-align: right;
    color: #000000;
    position: relative;

  }

  .light-text {
    color: #b1b1b9;
  }
}


//================== MODALS ===================

.modal-w {
  position: fixed; /* фиксированное положение */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff; /* цвет фона */
  z-index: 1050;
  opacity: 1; /* по умолчанию модальное окно прозрачно */
  -webkit-transition: opacity 200ms ease-in;
  -moz-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in; /* анимация перехода */
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    width: 0 !important
  }


  &-dialog {
    position: relative;
    width: 1080px;
    margin: 0 auto;
    //border:1px solid;
  }

  &-withdraw {
    width: 848px;
    padding: 50px;
    margin-top: 100px;
    border: solid 3px #f8f9fc;
    background-color: #ffffff;

    .modal__close {
      right: 15px;
      top: 0;

    }

    .form-label {
      margin-bottom: 15px;
    }

    .form-input_overlay {
      position: relative;

      &:before {
        content: '$';
        display: block;
        font-family: Overpass;
        font-size: 90.5px;
        font-weight: 300;
        color: #76757a;
        position: absolute;
        left: 0;
        z-index: 20;
      }
    }

    .form-input {
      font-size: 90.5px;
      font-weight: 900;
      position: relative;
      padding-left: 50px;
      padding-bottom: 0;
      width: 100%;

    }

    .payment-methord {

      &__item {
        margin-bottom: 30px;

        input[type=radio] {
          display: none;
        }

        label {
          font-family: Overpass;
          font-size: 18px;
          font-weight: 400;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: 1.5px;
          text-align: left;
          color: #000000;
          cursor: pointer;
          user-select: none;
          position: relative;
          padding-left: 46px;

          &:before {
            content: "";
            display: inline-block;
            width: 30px;
            height: 30px;
            position: absolute;
            left: 0;
            bottom: 1px;
            border-radius: 50%;
            border: 2px solid #000;
          }
        }

        input[type=radio]:checked + label:after {
          content: "";
          display: inline-block;
          width: 12px;
          height: 12px;
          position: absolute;
          left: 9px;
          bottom: 9px;
          border: 2px solid #000;
          border-radius: 50%;
          background: #000;
        }

        span {
          font-family: Overpass;
          font-size: 20px;
          font-weight: 300;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: 1px;
          text-align: right;
          color: #76757a;

          &:nth-child(1) {
            font-size: 20px;
            letter-spacing: 1.5px;
          }

          &:nth-child(2) {
            font-size: 30px;
            font-weight: bold;
            letter-spacing: 1.5px;
          }
        }
      }

    }

    .new-methord {

      label {
        &:after,
        &:before {
          display: none;
        }
      }

      span:nth-child(2) {
        color: #000000;
      }
    }

    .form-button {
      width: auto !important;
      padding: 24px 50px;
      margin: 0 !important;
      margin-top: 20px !important;
    }
  }

  .payment-methords {
    margin-top: 100px;
    width: 670px;
    border: solid 3px #f8f9fc;
    background-color: #ffffff;
    padding: 25px;

    .modal__close {
      right: 15px;
      top: 0;
    }

    &__title {
      font-family: Overpass;
      font-size: 30px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 1.5px;
      text-align: center;
      color: #76757a;
      margin: 0;
      margin-bottom: 14px;
    }

    .card-number {
      font-size: 12px;
    }

    &__subtitle {
      font-family: Overpass;
      font-size: 30px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 1.5px;
      text-align: center;
      color: #000000;
      margin: 0;
      margin-bottom: 10px;
    }


    .form-button-overlay {
      margin: 0 auto;
    }

    .form-button {
      width: 240px !important;
      padding: 24px 50px;
      margin: 0 !important;
      margin-top: 20px !important;
      border: 2px solid #b1b1b9;
      color: #b1b1b9;

      &:hover {
        border: 2px solid #000;
        color: #000000;
      }

      body &:nth-child(1) {
        margin-right: 10px !important;
      }
    }
  }

  .sms-code {
    width: 670px;
    border: solid 3px #f8f9fc;
    background: #ffffff;
    margin-top: 100px;
    padding: 30px;

    .modal__close {
      right: 15px;
      top: 0;
    }

    .modal__title {
      margin-top: 45px;
      margin-bottom: 10px;
    }

    &__title {
      font-family: Overpass;
      font-size: 70.5px;
      font-weight: 900;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #000000;
      margin: 0;
    }

    &__error {
      font-family: Overpass;
      font-size: 15px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: red;
      margin: 0;
    }


    .form-button {
      width: 510px !important;
    }
  }

  .thanks-modal {
    width: 670px;
    height: 355px;
    border: solid 3px #f8f9fc;
    background-color: #ffffff;
    margin-top: 100px;

    .modal-w-content {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .modal__close {
      right: 15px;
      top: 0;
    }

    .modal__title {
      font-family: Overpass;
      font-size: 70.5px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #000000;
    }
  }

  .description-modal {
    height: 100%;


    .modal-w__close {
      top: 0;
    }

    .modal-w-content {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }

    img {
      width: 800px;
      height: 800px;
    }
  }

  //&:target {
  //  opacity: 1; /* делаем окно видимым */
  //  pointer-events: auto; /* элемент видим для событий мыши */
  //  overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
  //}

  &__title {
    font-family: Overpass;
    font-size: 37.5px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
  }

  &__close {
    font-size: 55px;
    text-decoration: none;
    position: absolute;
    right: -143px;
    top: -63px;
    color: #b1b1b9;
    outline: none;

    &:hover {
      text-decoration: none;
      color: #b1b1b9;
    }
  }

  .form-button {
    width: 400px;
    margin: 0 auto;
    margin-top: 20px;

  }
}

.swift-dialog {

  .modal__title {
    margin-bottom: 52px;
  }

  .form-input {
    width: 500px;
  }
}


@import "media";
